@import "primeicons/primeicons.css";
.sidebarnav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 10%;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.sidebarnav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
  font-size: 22px;
}
.logo .logo-name {
  color: #333;
  font-weight: 500;
  margin-left: 10px;
}
.sidebarnav .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: lightblue;
}
.sidebar .sidebar-content {
  height: 100%;
  flex-direction: column;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #4070f4;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 18px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.nav-link .link {
  margin-left: 7px;
}